asgiref==3.9.1
certifi==2026.7.22
diff-match-patch==20241021
Django==5.2.6
django-cors-headers==4.8.0
django-import-export==4.3.9
djangorestframework==3.16.1
numpy==2.3.3
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
sqlparse==0.5.3
tablib==3.8.0
tzdata==2025.2
gunicorn==23.0.0
whitenoise==6.9.0
dj-database-url==2.3.0
psycopg[binary]==3.2.13
python-dotenv==1.2.2
